<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
            <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-item">Página inicial</a>
            <a href="#" class="navbar-item">Criar Post</a>
            <a href="#" class="navbar-item">Ajuda</a>

        </div>
    </nav>
    </header>


</body>
</html>